.ItemCounter-container {
    display: grid;
    grid-template-columns: 1fr 1fr 0.8fr 0.8fr;
    grid-template-areas: 'title . counter onAdd';
    gap: 5px;
    margin: 50px auto;
    width: 85%;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 12px 24px;
}

.ItemCounter-container h2 {
    grid-area: title;
    margin: 0;
}
.ItemCounter-container div {
    grid-area: counter;
}
.ItemCounter-container > button{
    grid-area: onAdd;
}

@media screen and (max-width: 700px){
    .ItemCounter-container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        'title title' 
        'counter onAdd';
    }

}