.Counter-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    padding: 10px;
    gap: 5px;
}
.CounterContent-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 5rem;
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 8px;
    padding: 4px;
    gap: 5px;
    position: relative;
}

.decrement {
    position: absolute;
    left: 4px;
    font-size: 20px;
}
.increment {
    position: absolute;
    right: 4px;
    font-size: 20px;
}