.CardWidget-container {
    height: 40px;
    width: 50px;
    border: 1px rgba(128, 128, 128, 0.418) solid;
    border-radius: 8px;
    color: white;
    transition: all .25s;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.CardWidget-container:hover {
    border-color: #7A26C1;
}