.Card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    height: 10rem;
    margin: auto;
    border-radius: 8px;
    position: relative;
    background-color: rgb(107 114 128);
    box-shadow: 1px 1px 5px rgb(91, 98, 110);
    transition: all .1s;
}
.CardImage-container{
    height: 100%;
    width: 100%;
    max-width: 175px;
    border-radius: 8px;
}
.CardImage {
    height: 100%;
    width: 100%;
    border-radius: 8px;
}
.CardContent-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    margin: auto;
    gap: 5px;
}
.Title-capitalize {
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-transform: capitalize;
}
.Title-primary {
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: 600;
}
.Subtitle {
    color: rgb(31 41 55);
    font-style: italic;
    margin: 0 .25rem;
    font-size: 0.75rem;
    line-height: 1rem;
}
@media screen and (max-width: 768px) {
    .Card-container{
        width: 80%;
    }
}
@media screen and (max-width: 438px) {
    .Card-container{
        flex-direction: column;
        height: auto;
        width: 200px;
        padding-bottom: 10px;
    }
    .CardImage-container{
        max-width: 200px;
    }
}