.Header {
    background-color: #282c34 ;
    height: 70px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 110px 50px;
    overflow: hidden;
    align-items: center;
    justify-items: center;
    transition: all .25s;
}
.Logo {
    height: 36px;
    cursor: pointer;
}
.Nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.NavbarLink {
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    font-weight: 600;
    transition: all .25s;
    background-color: transparent;
    border: none;
}
.NavbarLink:hover {
    color: #7A26C1;
    animation: pulse 2s infinite;
}
.NavbarLink:active {
    transform: translateY(2px);
}
.active {
    position: relative;
    color: #7A26C1 !important;
}

.active::after {
    position: absolute;
    content: '';
    bottom: 50%;
    left: -12px;
    transform: translateY(50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #7A26C1;
    pointer-events: none;
}
.active:hover::after{
  animation: 2s pulse infinite;
}
.fa-bars {
    display: block;
    position: absolute;
    cursor: pointer;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 30px;
}

@media screen and (max-width: 767px){
    .show-nav {
        height: 250px ;
    }
}
@media screen and (min-width: 767px) {
    .Header{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
    }
    .Nav {
        flex-direction: row;
        gap: 16px;
    }
    .active::after{
        bottom: -2px;
        left: 50%;
        transform: translateX(-50%);
        width: 2rem;
        height: 2px;
        border-radius: 0;
    }
    .fa-bars{
        display: none;
    }
}
@keyframes pulse {
    50% {
        opacity: .5;
    }
}